body{
    background-color: bisque;
}
h1{ color: black;
    background-color: gold;
    font-size: 77%;
    font-family: fantasy;
    font-style: oblique;
}
.ee{
    color: red;
}
.ii{
    color: red;
}